.content {
  width: 100vw;
  height: 100vh;
  background-image: url(../../Images/Night-bgc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.text {
  margin-top: 30vw;
}